.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.person {
  text-align: center;
  background: #fec356;
}

.character {
  text-align: center;
  background: white;
}
.header1{
  width: 100%;
  background: #fec356;
  text-align: center;
}
.header2{
  width: 100%;
  background: cornflowerblue;
  text-align: center;
}
